<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Approval Dashboard</title>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Add Font for Enhanced Styling -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2>Loan Approval Dashboard</h2>
    </header>
    <main class="dashboard-container">
        <iframe title="Loan Approval Dashboard" width="100%" height="600" 
            src="https://app.powerbi.com/view?r=eyJrIjoiZTgzZTFlNDUtZDFiZS00YmU0LThlZjQtYmQyYWY5NjAzODgzIiwidCI6IjUwZGM3YWQxLTEwOTktNDE4ZC04NDdjLTNhMzYxZWM0Mjc1ZCJ9" 
            frameborder="0" allowfullscreen="true"></iframe>
    </main>
    <div class="navigation">
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
