<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Intelligence for Loan Approval Prediction</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Business Intelligence for Loan Approval Prediction and Interactive Decision-Making Insights</h1>
    <div class="navigation">
        <a href="/predict_form">Go to Loan Prediction Form</a>
        <a href="/dashboard">View Dashboard</a>
    </div>
</body>
</html>
